/* Sayfa geçişi için genel stil */
.animsition {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

  /* Sayfa geçişi için giriş ve çıkış animasyonları */
.page-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s, transform 0.5s;
}

.page-exit {
    opacity: 1;
    transform: translateX(0);
}

.page-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}
